@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


.col-md-5 img{
    width: 100%;
}

.flashes{
    list-style: none;
    font-size: 2vmax;
    font-family: 'Noto Serif', sans-Serif;
    text-align: center;
}